<component name="libraryTable">
  <library name="spring-libs">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../spring-libs/libs" />
      <root url="file://$PROJECT_DIR$/../../spring-libs/libs" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../../spring-libs/libs" />
      <root url="file://$PROJECT_DIR$/../../spring-libs/libs" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/../../spring-libs/libs" recursive="false" />
    <jarDirectory url="file://$PROJECT_DIR$/../../spring-libs/libs" recursive="false" />
    <jarDirectory url="file://$PROJECT_DIR$/../../spring-libs/libs" recursive="false" type="SOURCES" />
    <jarDirectory url="file://$PROJECT_DIR$/../../spring-libs/libs" recursive="false" type="SOURCES" />
  </library>
</component>